version: "3.8"
services:
  backend:
    build:
      context: .
      dockerfile: Backend/Dockerfile
    image: amanpardeshi01/revcart-backend:latest
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=${DB_URL}
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASS}
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Frontend/Dockerfile
    image: amanpardeshi01/revcart-frontend:latest
    ports:
      - "80:80"
    restart: unless-stopped
